body{
    max-width: 800px;
    margin:0 auto;
}

.banner{
    display: grid;
    padding: 10px;
    background-color: #7b3ce8;
    text-align: right;
    border-radius: 20px;
    grid-template-columns: 60% 40%;
}

p{
    border-radius: 20px;
    padding: 10px;
    background-color: #7b3ce8;
    text-align: center;
}
h2{
    row-gap: 40px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
h3{
    font-style: italic;
    font-size: small;
    
}

.desc {
    text-align: center;
    align-self: center;
}

img{
    max-width: 400px;
}