body{
     padding: 50px;
    
}

header{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section{
    background-color: pink;
    border: 2px solid black;
    height: 200px;
    margin: 0;
}
#spotlight{
    height: 600px;
}


#spot1, #spot2, #spot3{
    margin: 10px;
}

footer{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width: 670px){
    section{
        grid-template-columns: repeat(6, 1fr);
        background-color: gray;
    }
    #hero{
        grid-column: 1/7;
        grid-row: 1/2;
        
    }
    #Event{
        display: none;
    }
    
    #weather{
        grid-column: 1/6;
        grid-row: 5/7;
     }
    #spotlight{
        display: flex;
        height: 100px;
        grid-column: 1/4;
        grid-row: 3/4;
    }
    #spot1, #spot2{
        width: 100%;
    }
    #spot3{
        display: none;
    }
    #news{
        grid-column: 1/6;
        grid-row: 2/3;
    }
    
    #join{
        display: none;
    }
    
}