body {
    padding : 60px;
    }
    header {
    background-color : brown;
    display : flex;
    gap: 2rem;
    align-items : center;
    justify-content : space-between;
    }

    section{
        gap: 10rem;
        border : black solid 2px;
        margin: 10px;
        background-color: beige; 
     }

    nav ul{
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 50px;
         justify-self: center;
         list-style-type: none;
     }
     li:hover{
         background-color: yellow;
     }
     #date {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
}

    
    footer {
        background-color : brown;
        display : flex;
        align-items : center;
        justify-content : space-between;
        
        }
    
 @media only screen and (max-width: 570px){
        main{
        grid-template-columns: repeat(5, 1fr);
     
      
    }
    #hero{
        grid-column:1/5;
        grid-row: 1/2;
    }#Event{
        grid-column: 1/5;
        grid-row: 2/3;
    }#weather{
        grid-column: 1/5;
        grid-row: 3/4;
    }
    #news{
        grid-column: 1/5;
        grid-row: 4/5; 
    } #spotlight{
        grid-column: 1/5;
        grid-row: 4/8;
        height: auto;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }
    #spot1{
        display: block;
       
    }
    #spot2{
        display: block;
    }
    #spot3{
        display: none;
    }
    #Join{
        display: none;
    }
}