
main{
    
    margin: 40px auto;
    max-width: 700px;
}
#Bosses{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
picture img{
    
    height: 70%;
    width: 70%;
}
h3{
    color:darkorchid ;
    font-style: oblique;
}

.Boss1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.boss2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.boss3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.boss4{
    grid-column: 2/3;
    grid-row: 2/3;
}
picture figcaption{
    font-size: large;
    color:chocolate;
}
fieldset label{
    font-size: large;
    
}