@media only screen and (max-width: 32.5em){
    header{
        flex-direction: column;
    }

    main{
        grid-template-columns: 1fr;
        grid-template-rows:  10rem 10rem 10rem 10rem 10rem 5fr;
    }

    #hero{
        grid-column: 1/2;
        grid-row: 1/2;
        }
        #Social{
            display: block
            flex-direction: table-column;
            justify-content: center;
            font-size:medium;
            list-style-type: none;
        }
        li:hover{
            color: aqua;
            cursor: pointer;
        }

    #news{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #spotlight{
        display: flex;
        grid-column: 1/2;
        grid-row: 5/6;
        justify-content: space-around;
        
    }
    #spot1{
        height: 20px;
    }
    #spot3{
        display: none;
    }
    #join{
        display: none;
        
    }
   #weather{
        grid-column: 1/2;
        grid-row: 3/4;
        list-style-type: none;
    }
    #Event{
        grid-column: 1/2;
        grid-row: 2/3;
    }

}