.information label{
    font-size: medium;
}
.level{
    grid-row: 2/3;
    grid-column: 1/2;
}
@media only screen and (max-width: 32.5em){
    header{
        flex-direction: column;
    }
    body {
        padding : 10px;
        font-size: 10px;
    }

    #homepagemain{
        grid-template-columns: 1fr;
        grid-template-rows:  10rem 10rem 10rem 10rem 10rem 5fr;
    }

    #discovermain{
        grid-template-columns: 1fr;
    }
.portrait p{
    font-size:x-small;
    margin: 0%;
}
.logo img{
    width: 60%;
    
}
    #hero{
        grid-column: 1/2;
        grid-row: 1/2;
        }
        #Social{
            display: none;
            
        }
        li:hover{
            color: aqua;
            cursor: pointer;
        }

    #news{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    #spotlight{
        display: flex;
        grid-column: 1/2;
        grid-row: 5/6;
        justify-content: space-around;
        
    }
    #spot1{
        height: 90%;
    }
    #spot1 img{
        display: none;
    }
    #spot1 img p{
       display: flex;
       flex-flow: row; 
    }
    
    #join{
        display: none;
        
    }

    #spot2{
        height:90%;
        padding:5px;
    }
    #spot2 p{
        font-weight: bold;
        
    }
   #weather{
        padding: 5px;
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        /* list-style-type: none; */
        
    }

    #weather h2{
        margin:0;
    }
    #Event{
        grid-column: 1/2;
        grid-row: 2/3;
    }
        #discovermain{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10rem;
        }
        .first{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .second{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .third{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .fourth{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .fifth{
            grid-column: 1/2;
        grid-row: 3/4;
        }
        .sixth{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .seventh{
            grid-column: 1/2;
        grid-row:4/5;
        }
        .eighth{
            grid-column: 2/3;
            grid-row:4/5 ;
        }
        .ninth{
            grid-column: 1/2;
        grid-row: 5/6;
        }
        }
        
        
    
        
    
    
    .dropbtn {
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: rgb(221, 221, 221);}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #3e8e41;}

      .level{
        display: none;
      }
      
footer .logo {
    width: 60%;
}
footer p {
   display: none; 
}





    