@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Tapestry&display=swap');

body{
    max-width: 80%;
    margin:0 auto;
    font-family: 'Tapestry', cursive;;
}

ul{
    display: flex;
    background-color: paleturquoise;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

a{
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: yellow;
    background-color: gray;
}

h1, h2{
    font-family: 'Barlow', sans-serif;
    
}

p{
    font-family: 'Barlow', sans-serif; 
    text-align: center;
}

footer p{
    display: flex;
    background-color: paleturquoise;
   justify-content: center;
    font-family: 'Tapestry', cursive;
}

@media  screen and (min-width: 975px) {
     ul {
        flex-direction: row;
        
    }
    
}