@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Tapestry&display=swap');

body{
    max-width: 80%;
    margin:0 auto;
    font-family: 'Tapestry', cursive;;
}

ul{
    display: flex;
    background-color: limegreen;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

li{
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}

li:hover {
    color: yellow;
    background-color: gray;
}
img{
    align-items: flex-end;
}

h1, h2{
    font-family: 'Barlow', sans-serif;
}

div{
  text-align: center;
  background-color: limegreen;
  width: 50%;
  
}
.second{
    row-gap: 50%;
    background-color: yellow;
    text-align: center;
}
.drawing{
    justify-items: end;
    
}

p{
    font-family: 'Barlow', sans-serif; 
    text-align: center;
}

footer p{
    display: flex;
    background-color: limegreen;
   justify-content: center;
    font-family: 'Tapestry', cursive;
}

@media  screen and (min-width: 975px) {
     ul {
        flex-direction: row;
        
    }
    
}