header{
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    display:flex;
    top: 0;
    justify-content: space-between;
    
}

.logo{
    width:200px;
    height: 200px;

}
.logo img{
    width: 80%;
    height: 50%;
    margin-left: 0;
}
.navigation{
    display: flex;
    justify-content: center;

}
.navigation nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 1rem;
    height: 20%;
    text-decoration: none;
    list-style: none;
    gap: 50px;
    margin-left: 190px; 
    font-size: 30px;
}
.navbar__menu a:hover{
    background-color: #ddd;
    color: green;
    cursor: pointer;
}

.media1{
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 50px;  
    cursor: pointer; 
}
#homemain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    margin: 20px;
    gap: 40px;
}
.button{
    position: absolute;
    bottom: 100px;
    right: 100px;
    height: 40px;
    cursor: pointer;
}
.button:hover{
    background-color: blueviolet;
    color: chartreuse;
}
.weatherRep{
    border: 0.5px dotted green;
    background-color:coral;
}
.Provo{
    position: relative;
    
}

.summary{
    grid-row:2/3;
    grid-column:1/3;
    font-size: 20px;
    /* border: 1px solid; */
    margin:  0.5%;
    text-align: center;
    font-family: 'Caveat', cursive;
}


{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    background: #080808;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ff0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
iframe{
    display: block;
    align-items: center;
    justify-content: center;
}

.navbar__link {
    color: rgb(239, 246, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
footer{
    background-color: white;
    border: 4px solid black;
    height: 100px;
    border-radius: 10px;
    display:flex;
    margin: 0 auto;
    justify-content: space-around;
}
footer p{
    text-align: center;
    
}