@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Caveat&family=Edu+NSW+ACT+Foundation&family=Fira+Sans:ital,wght@1,100&family=Tapestry&display=swap');


.reservation-body-text{
    background-color:brown;
    margin: 50;

}
.reservation-form-input-div{
    font-family: 'Edu NSW ACT Foundation', cursive;
    
}