@media only screen and (max-width: 32.5em){
        #homemain{
        grid-template-columns: 1fr;
        grid-template-rows:  8rem;
        }
        .weatherRep{
            display: none;
        }
        .summary{
            grid-column: 1/2;
            grid-row: 1/2;    
        }
        .provo{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        iframe{
            grid-column: 1/2;
            grid-row: 3/4;
        } 
        .button{
            display: none;}
        
     .dropbtn {
         background-color: #04AA6D;
         color: white;
         padding: 16px;
         font-size: 16px;
         border: none;
       }
       .dropbtn {
         position: relative;
         display: inline-block;
       }
       
       /* Dropdown Content (Hidden by Default) */
       .navbar__menu {
         display: none;
         position: absolute;
         background-color: #f1f1f1;
         min-width: 160px;
         box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index: 1;
       }
       
       /* Links inside the dropdown */
       .navbar__menu a {
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
       }
       
       /* Change color of dropdown links on hover */
       .navbar_item a:hover {background-color: #ddd;}
       
       /* Show the dropdown menu on hover */
       .navbar__menu:hover .dropdown-content {display: block;}
       
       /* Change the background color of the dropdown button when the dropdown content is shown */
       .navbar__menu:hover .dropbtn {background-color: #3e8e41;}

       .image{
        height: 15rem;
        width:20rem;
      
    }
 
}

       /* Style the active link (or home/logo) */
       /* .active {
         background-color: #04AA6D;
         color: white;
       } */
    
      