@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&family=Tapestry&display=swap');

table{
    text-align: center;
    margin: 100px auto;
    color-scheme: green;
}
table thead{
    font-family: 'Barlow', sans-serif;
}


tr, td{
    padding: 10px;
    font-size: 1.5em;
}


table tr:nth-child(odd){
    background-color: lightblue;
}
thead tr:nth-child(2),  thead tr:nth-child(4){
    background-color: green;
}



tbody tr:nth-child(even){
    background-color: pink;
}

tbody tr:nth-child(4) td:nth-child(3) {
    background-color: rgb(139, 94, 46);
}

